
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap');

body{
  background-color: var(--icon-color-ternary);
}

.header .left span h2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 1.5rem;
  color: rgb(84, 84, 84);
}