:root{
  --var-test-border: 1px solid black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  /* border: 1px solid black; */
  background-color: rgba(255, 0, 0, 0.344);
}

header > .left{
  width: fit-content;
  /*border: 1px solid black;*/
  /* padding-left: 1.5rem; */
  display: flex;
  gap: 1rem;
  height: 100%;
  align-items: center;
}

header > .center .wrapper{
  /*border: 1px solid black;*/
  /* padding-left: 1.5rem; */
  display: flex;
  gap: 1rem;
  height: 100%;
  align-items: center;
  border: 1px solid black;
  padding:0.5rem 1rem;
  border-radius: 2rem;
  width: clamp(20rem, 50vw, 40rem);
}

.left{
  padding: 1.5rem;
}

.center .wrapper input{
  width: clamp(20rem, 50vw, 35rem);
  border: var(--var-test-border);
}
.icon {
  border: 1px solid red;
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.left_img_logo {
  width: 7rem;
  flex-shrink: 0;
}